@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-medium text-3xl;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
}

@layer components {
  .btn {
    background-color: blue;
    padding: 12px 6px;
    color: white;
  }
}
